KINDE_ISSUER_URL=
KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_SITE_URL=http://localhost:3333
KINDE_REDIRECT_URL=http://localhost:3333/kinde_callback
KINDE_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_LANGUAGE=pt-PT #en https://github.com/kinde-oss/kinde-translations#language-codes
KINDE_GOOGLE_CONNECTION_ID=
KINDE_EMAIL_CONNECTION_ID=
KINDE_GITHUB_CONNECTION_ID=